@*
 * Produce/ Edit.cshtml
 * FreshHarvestMarket
 *
 * This Razor view is used to edit an existing Produce item.
 * It binds to the Produce model & provides a form for updating
 * produce details such as name, description, price, category,
 * inventory total, & image URL.
 *
 * On submission, the form posts updated data to the Edit action
 * in the Produce controller.
 *@

@model FreshHarvestMarket.Models.Produce

@{
	ViewData["Title"] = "Edit Produce";

}

<h2>Edit Produce</h2>

<form asp-action="Edit" method="post">

	<div asp-validation-summary="All" class="text-danger mb-3"></div>

	<input type="hidden" asp-for="ProduceId"/>

	<div class="mb-3">
		<label asp-for="ProduceName">Produce Name</label>
		<input asp-for="ProduceName" class="form-control"/>
		<span asp-validation-for="ProduceName" class="text-danger"></span>

	</div>

	<div class="mb-3">
		<label asp-for="ProduceDescription">Produce Description</label>
		<input asp-for="ProduceDescription" class="form-control" />
		<span asp-validation-for="ProduceDescription" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="UnitPrice">Unit Price</label>
		<input asp-for="UnitPrice" class="form-control" type="number" step="0.01" placeholder="0.00" />
		<span asp-validation-for="UnitPrice" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="ProduceCategory"></label>
		<select asp-for="ProduceCategory" class="form-select">
			<option value="">-- Select Category --</option>
			<option value="Fruit">Fruit</option>
			<option value="Vegetable">Vegetable</option>
			<option value="Other">Other</option>
		</select>
		<span asp-validation-for="ProduceCategory" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="InventoryTotal" class="form-label"></label>
		<input asp-for="InventoryTotal" class="form-control" type="number" />
		<span asp-validation-for="InventoryTotal" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="ImageUrl">Image URL</label>
		<input asp-for="ImageUrl" class="form-control" />
	</div>
	
	<!--Save-->
	<button type="submit" class="btn btn-success">
		Save Changes
	</button>
</form>

<div class="py-5"></div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}