@*This screen has the operator hit confirm before rejecting an order*@
@model Order


<div class="justify-content-center">
	<div class="row justify-content-center">
		<div class="col-auto">
			<h1>Confirm Rejection</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<p class="fw-bold">Are you sure you want to reject order @Model.OrderId?</p>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-2 justify-content-center d-flex">
			<form asp-action="ConfirmReject" method="post" asp-route-OrderId="@Model.OrderId" class="d-inline">
				<button type="submit" class="btn btn-danger">Reject</button>
			</form>
		</div>
		<div class="col-2 justify-content-center d-flex">
			<a asp-controller="Order" asp-action="ManageOrders" class="btn btn-primary">Cancel</a>
		</div>
	</div>
</div>