@*This screen has the operator hit confirm before rejecting an order*@
@{
	int orderNumber = ViewBag.OrderNumber;
}
<div class="justify-content-center">
	<div class="row">
		<h1>Confirm Rejection</h1>
	</div>
	<div class="row">
		<p>Are you sure you want to reject order @orderNumber?</p>
	</div>
	<div class="row">
		<div class="col-3 justify-content-center">
			<a asp-controller="Order" asp-action="UpdateRejected" asp-route-OrderId="@orderNumber" class="btn btn-danger">Reject</a>
		</div>
		<div class="col-3 justify-content-center">
			<a asp-controller="Order" asp-action="ManageOrders" class="btn btn-primary">Cancel</a>
		</div>
	</div>
</div>