@*
 * Order/ConfirmReject.cshtml
 * FreshHarvestMarket
 *
 * This Razor view provides a confirmation step before an order is rejected.
 *
 * It is used by administrators to prevent accidental rejection of an order
 * by requiring explicit confirmation before executing the action.
 *
 * The view posts the rejection request to the UpdateRejected action if confirmed,
 * or allows the user to cancel & return to the order list.
 *@

@model Order


<div class="justify-content-center">
	<div class="row justify-content-center">
		<div class="col-auto">
			<h1>Confirm Rejection</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<p class="fw-bold">Are you sure you want to reject order @Model.OrderId?</p>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-2 justify-content-center d-flex">
			<form asp-controller="Order"
				  asp-action="UpdateRejected"
				  method="post"
				  asp-route-orderId="@Model.OrderId"
				  class="d-inline">

				<button type="submit" class="btn btn-danger">Reject</button>
			</form>
		</div>
		<div class="col-2 justify-content-center d-flex">
			<a asp-controller="Order" asp-action="Index" class="btn btn-primary">Cancel</a>
		</div>
	</div>
</div>