@*This will be a standing version of the login page*@


@*
	I am not currently linking this to any data model. Not sure yet which/how the package will work, 
	so there is no use in implemented a class for this.
*@
<form asp-action="Index" method="get"> @*action-method will need updated*@
	<div asp-validation-summary="All" class="text-danger"></div>

	@*Username text input*@
	<div class="row justify-content-center">
		<div class="col-lg-3 col-sm-6">
			<div class="mb-3">
				<label class="for-label">Username</label>
				<input class="form-control" />
			</div>
		</div>
	</div>

	@*Password text input*@
	<div class="row justify-content-center">
		<div class="col-lg-3 col-sm-6">
			<div class="mb-3">
				<label class="for-label">Password</label>
				<input class="form-control" type="password"/>
			</div>
		</div>
	</div>

	@*Login form buttons*@
	<div class="row justify-content-center">
		<div class="col-lg-3 col-sm-6">
			<button type="submit" class="btn btn-primary">Login</button>
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a> @*Will need updated*@
		</div>
	</div>
</form>